*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.app {
  min-height: 100vh;
  display: grid;
  background-image: url('back.jpeg');
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;  
}
.weather{
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  display:flex;
  flex-direction: column;
  align-items: center;
  border-style:groove;
  border-color: rgb(175, 147, 175);
}
.search-bar{
  display:flex;
  justify-content: center;
  align-items: center;  
}
.search-icon{
  max-width: 3em;
  background-color:white;
  border-radius: 50%;
  padding: 10px;
  margin-left: 1rem;
 
}
.search-bar input{
  width: 19rem;
  height: 3rem;
  border-radius: 30px;
  border: none;
  color: white;
  padding-left:20px;
  background : none;
  border-style: groove;
  border-color: rgb(175, 147, 175) ;
  
}
.temp-loc{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.temp-icon{
  max-width: 15em;
  padding-bottom: 0px;
}
.temprature{
  font-size: 4rem;
  color:white;
}
.location{
  color:white;
  font-weight: 100;
}
.wind-humidity{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-direction: row;
}
#wind-icon{
  max-width: 3em;
}
.wind-humidity{
  color: white;
  margin-top: 2rem;
}
.value1, .value2{
  font-size: 25px;
}
.value1{
  margin-right: 6rem;
}
.humidity, .wind{
  margin-right: 1.5rem;
}
.search-icon:hover{
  cursor: pointer;

}
